body {
  margin: 0px;
  padding: 0;
  font-family: sans-serif;
}

.reveal {
  display: block;
  font-weight: bold;
  color: rgb(137, 13, 13);
  margin: 2px;
}

.hide {
  display: none;
}

.purchased {
  display: none;
}

#item-input:invalid {
  border: 2px solid red;
}

#quantity-input:invalid {
  border: 2px solid red;
}

.error-valid {
  color: red;
}

#caption {
  font-size: 10pt;
}

.displayed {
  padding: 10px;
}

.teal-background {
  background-color: rgb(95, 151, 151);
  padding: 10px;
}

.buyButton {
  background-color: rgb(31, 110, 31);
  font-size: 20px;
  padding: 5px 5px;
  color: white;
  border-radius: 8px;
  border:2px solid black;
}

.deleteButton {
  background-color: rgb(145, 35, 10);
  font-size: 20px;
  padding: 5px 5px;
  color: white;
  border-radius: 8px;
  border:2px solid black;
}

.resetClearButtons {
  margin: 30px;
}

.saveButton {
  background-color: darkslategray;
  font-size: 20px;
  padding: 5px 5px;
  color: white;
  border-radius: 8px;
  border:2px solid black;
  display: flex;
}

.shoppingInputs {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 300px;
}

.footerContents {
  display: flex;
  justify-content: center;
  background: rgb(244,250,251);
  background: radial-gradient(circle, rgba(244,250,251,1) 0%, rgba(13,149,150,1) 100%);
  
}

input {
  padding: 0px;
}

#quantunit {
  display: flex;
  flex-direction: row;
  margin: 10px 0px

}
#quant-child {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-right: 15px;
}

#unit-child {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.shoppingListLocation {
  margin: 20px;
}

.shoppingForm {
  margin: 20px;
}

h4 {
  margin: 2px;
}

.quantityAndUnit {
  margin: 2px;
}

.shoppingList {
  display: flex;
  justify-content: flex-start;
  gap: 10px 30px;
  flex-wrap: wrap;

}

#alert {
  border: 1px solid darkgreen;

  padding: 10px;
  background-color: mintcream;
  color: green;
}

#close-alert {
  border: none;
  background: none;
}

.alert-show{
  display: flex;
}

.alert-hide {
  display: none;
}
