body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.reveal {
  display: block;
}

.hide {
  display: none;
}

.purchased {
  display: none;
}

#item-input:invalid {
  border: 2px solid red;
}

#quantity-input:invalid {
  border: 2px solid red;
}

sup {
  color: red;
}

#caption {
  font-size: 10pt;
}